<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhh.dao.IChartDao" >
  <resultMap id="BaseResultMap" type="com.zhh.entity.chart.ChartData" >
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="number" property="number" jdbcType="DECIMAL" />
    <association property="product" column="product_id"  select="getProductData"/>
    <association property="productInoutType" column="product_inout_type"  select="getDictData"/>
  </resultMap>
  <select id="getProductData" parameterType="int" resultType="com.zhh.entity.Product">
    select * from product where id=#{id}
  </select>
  <select id="getDictData" parameterType="int" resultType="com.zhh.entity.DictData">
    select * from dict_data where id=#{id}
  </select>
  <select id="getChartData" resultMap="BaseResultMap" parameterType="int">
    select * from chart_data where product_inout_type = #{type}
  </select>
  <select id="getChartCount" resultMap="BaseResultMap">
    SELECT (A.price-B.price) as price ,(A.number-B.number) as number ,A.product_id from chart_data as A,chart_data as B where A.product_id = B.product_id and A.product_inout_type=7 and B.product_inout_type=8 GROUP BY A.product_id
  </select>
</mapper>