<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhh.dao.IUserRoleDao" >
  <resultMap id="BaseResultMap" type="com.zhh.entity.UserRole" >
    <result column="login_no" property="loginNo" jdbcType="VARCHAR" />
    <result column="role_id" property="roleId" jdbcType="VARCHAR" />
    <result column="insert_date" property="insertDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="active" property="active" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.zhh.entity.UserRole" >
    insert into sys_user_role (user_id, role_id, insert_date, 
      update_date, active)
    values (#{userId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, #{insertDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{active,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhh.entity.UserRole" >
    insert into sys_user_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="insertDate != null" >
        insert_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="active != null" >
        active,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="insertDate != null" >
        #{insertDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="active != null" >
        #{active,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="selectRolesIdByLoginNo" resultType="java.lang.String" parameterType="java.lang.String">
      select role_id from sys_user_role where login_no=#{loginNo} and active="Y"
  </select>
</mapper>